

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 18px;
  line-height: 22px;

  color: #f1f1f1;

  margin: 0;
}

#container a {
  text-decoration: none;
}
#container #carga {
  text-align: center;
  display: block;
  margin: auto;
  width: fit-content;
  padding-top: 5px;
  padding-bottom: 15px;
}
#conexion{
 text-align: center;
color: red; 
}