<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="text-align: center;">
      TeLlevoApp
    </ion-title>
  </ion-toolbar>
  <div style="text-align: center;">
    <br>
  <ion-button fill="outline" size="small" [routerLink]="['/mainmenu']">Iniciar Sesión</ion-button> 
  <ion-button fill="outline" size="small" [routerLink]="['/register']">Registrarse</ion-button>
  </div>
</ion-header>

<ion-content class="ionic-padding">
  <div class="glass-content ion-text-center">
    <ion-card><br><br>
     <img src="assets/img/taxi.png" />
     <ion-card-header>
      <ion-card-title>Llega a tu destino de manera mas sencilla</ion-card-title>
     </ion-card-header>
     <ion-card-content>
      Inicia session con tus credenciales y comienza a experimentar la comodidad de viajar seguro
     </ion-card-content>
    </ion-card>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar>
        <ion-tab-button tab="inicio">
          <ion-icon name="logo-ionic" ></ion-icon>
          Inicio
        </ion-tab-button>
        <ion-tab-button tab="options">
          <ion-icon name="options"></ion-icon>
          Opciones
        </ion-tab-button>
        <ion-tab-button tab="activity">
          <ion-icon name="heart"></ion-icon>
          Actividad
        </ion-tab-button>
        <ion-tab-button tab="account">
          <ion-icon name="person"></ion-icon>
          Cuenta
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>


